<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation debug="true" xdt:Transform="SetAttributes" />
    <customErrors mode="Off" xdt:Transform="SetAttributes" />
    <httpCookies xdt:Transform="Remove" />
    <sessionState cookieSameSite="Lax" xdt:Transform="SetAttributes" />
  </system.web>
</configuration>