<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:security="http://www.sitecore.net/xmlconfig/security/">
  <sitecore role:require="Standalone or ContentDelivery or ContentManagement">
    <pipelines>
      <owin.initialize>
        <processor name="CookieAuthentication" type="Sitecore.Owin.Authentication.Pipelines.Initialize.CookieAuthentication, Sitecore.Owin.Authentication" resolve="true">
          <CookieSameSite>Lax</CookieSameSite>
        </processor>
        <processor name="PreviewCookieAuthentication" type="Sitecore.Owin.Authentication.Pipelines.Initialize.PreviewCookieAuthentication, Sitecore.Owin.Authentication" resolve="true">
          <CookieSameSite>Lax</CookieSameSite>
        </processor>
        <processor type="Sitecore.Owin.Authentication.Pipelines.Initialize.ExternalCookieAuthentication, Sitecore.Owin.Authentication" resolve="true">
          <CookieSameSite>Lax</CookieSameSite>
        </processor>
      </owin.initialize>

      <owin.cookieAuthentication.signedIn>
        <processor type="Sitecore.Owin.Authentication.Pipelines.CookieAuthentication.SignedIn.CreateTicket, Sitecore.Owin.Authentication" resolve="true">
          <CookieSameSite>Lax</CookieSameSite>
        </processor>
      </owin.cookieAuthentication.signedIn>
    </pipelines>
  </sitecore>
</configuration>
