<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <retryer type="Sitecore.Data.DataProviders.Retryer, Sitecore.Kernel">
      <patch:attribute name="disabled" value="false" />
      <param desc="Number of tries">10</param>
      <param desc="Log each exception (should be used for debug only)">false</param>
    </retryer>
  </sitecore>
</configuration>